<div class="hero min-h-screen" style="background-image: url(<%= image_path 'texture_crystal2_s.jpg' %>);">
  <div class="hero-overlay bg-opacity-10"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-lg">
      <h1 class="mb-5 text-5xl font-extrabold">GW2Rank</h1>
      <p class="mb-5"><%= t("gw2rank.description_html") %></p>
      <%= link_to t("players.register"), new_player_path, class: "btn btn-primary font-bold" %>
    </div>
  </div>
</div>
