<div class="hero min-h-screen" style="background-image: url(<%= image_path 'texture_crystal2_s.jpg' %>);">
  <div class="hero-overlay bg-opacity-10"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">GW2Rank</h1>
      <p class="mb-5"></p>
      <div class="btn-group">
        <%= link_to "See the ladders", seasons_path, class: "btn btn-primary" %>
        <%= link_to "See the players", players_path, class: "btn btn-secondary" %>
        <%= link_to "Ask us features", "https://discord.gg/CbSF2HwMCv", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
